[req]
prompt = no
utf8 = yes
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
CN = identity.linkerd.cluster.local

[v3_req]
keyUsage = critical, cRLSign, keyCertSign
extendedKeyUsage = serverAuth, clientAuth
basicConstraints = critical, CA:TRUE
